<div class="container">
  <header>
    <h1>Reserva de fruteras</h1>
  </header>

  <table>
    <tr>
      <th>Frutera</th>
      <th>Estado</th>
      <th>Usuario</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Actions</th>
    </tr>
    <tr  ng-repeat="frutera in fruteras | orderBy:'ip'" ng-class="frutera.state">
      <td>{{frutera.ip}}</td>
      <td> {{frutera.state}} </td>
      <td><input ng-model="frutera.usedBy" type="text" ng-change="update(frutera)"/> </td>
      <td>{{frutera.since | date:'medium'}}</td>
      <td>{{frutera.until | date:'medium'}}</td>
      <td>
        <a href="" ng-click="clean(frutera)" tooltip="Clean" title="Clean reservation">C</a> 
        <a href="" ng-click="increase(frutera,+2)" title="Add 2 hour">+2</a> 
        <a href="" ng-click="increase(frutera,+8)" title="Add 8 hour">+8</a>
      </td>
    </tr>
  </table>
</div>
